<style>
* {
	margin: 0;
	padding: 0;
}

/* |||||||||||||||||||||| HEADER ||||||||||||||||||||||||| */

.fon_1 {
	padding: 50px 50px 0 50px !important;
	height: 754px;
	background-image: url(images/fon_1.jpg);
}

.men {
	width: 1200px;
}

.cap .col-lg-4, 
.cap .col-lg-1, 
.cap .col-lg-2 {
	padding: 0;
}

.logo-container {
	margin: 0;
	padding: 0;
}

.fon_1 .logo {
	display: block;
	width: 185px;
	margin: 0 auto;
}	

.addr-icon, 
.cap_icon, 
.cap_text, 
.call {
	margin-top: 15px;	
}

.fon_1 .title {
	margin-top: 100px;
}

.fon_1 .description {
	font-family: arial;
	font-size: 16px;
}

.fon_1 .claim-btn {
	background: #1175c0;
    color: white;
    border: none;
    width: 250px;
    font-size: 20px;
    height: 60px;	
}

.cap_text {
	width: 260px;
	font-size: 12px;
	font-family: arial;
	padding: 0 !important;
}

.cap button {
	display: block;
	width: 150px;
	height: 35px;
	margin: 0 auto;
	margin-top: 10px;
	background: #1175c0;
	color: white;
	border: none;
}

.fon_1 .url {
	color: #1175c0 !important;
    text-decoration: none;
}

/* ||||||||||||||||||||||||| ABOUT |||||||||||||||||||||||||||||| */

.second {
	margin-bottom: 50px;
	background: url(images/fon_2.png) no-repeat;
}

.second .item {
	text-align: center;
}

.second .icons {
	margin-bottom: 100px;
}

.second .icons p {
	font-family: arial;
}

.second .description {
	color: #8e8e8e;
	line-height: 200%;
	font-size: 18px;
	font-family: arial;
}

.device-wrapper {
	text-align: right;
}




/* |||||||||||||||||||||||||||| ¬ќ«ћќ∆Ќќ—“» ||||||||||||||||||||||||| */

.options {
	margin-bottom: 50px;
}

.options .item {
	text-align: center;
	padding: 70px 0 70px 0;
	font-size: 22px;
    font-family: arial;
}

.options .item img {
	margin-bottom: 20px;
}

.options .first {
	text-transform: uppercase;	
	font-size: 32px;
    letter-spacing: 1px;
	line-height: 2;
}

.options .first span {
	color: #1176be;
	font-weight: 750;
}

.options p, .options h2{
	margin: 0;
}

.options .row:first-child {
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
}

.options .row:last-child {
	border-bottom: 1px solid #bbbbbb;
}

.options .center{
	border-left: 1px solid #bbbbbb;	
	border-right: 1px solid #bbbbbb;
}




/* |||||||||||||||||||||| Ѕ≈—ѕЋј“Ќќ ||||||||||||||||||||||||||||| */

.free .description {
    padding-top: 20px;
    text-align: center;
	font-family: arial;
	font-size: 22px;
}

.free .details {
	margin-top: 50px;
	font-size: 18px;
}

.button-container {
    text-align: center;
	padding-top: 55px;
}

.free {
	margin-bottom: 50px;
}

.free button {
	width: 200px;	
    height: 50px;
    background: #1175c0;
    color: white;
    border: none;
    font-size: 20px;
}





.infrastructure {
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
}

.infrastructure .description {
    font-size: 1.3rem;
    padding: 50px 30px 0 30px;
	border-right: 1px solid #bbbbbb;
	margin: 0;
}

.infrastructure .diagram {
    background: #d6f4ff;
    text-align: right;
    font-size: 18px;
}

.infrastructure img {
	display: block;
	margin: 0 auto;
}



/* |||||||||||| ѕ–≈»ћ”ў≈—“¬ј |||||||||||||| */

.advantages {
	background: #f3f3f3;
	margin-bottom: 50px;
}

.advantages h1 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 50;
	font-size: 30px;
	font-family: arial;
	padding: 30px 0 30px 0;
	margin: 0;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
}

.advantages .item {
	padding-right: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #bbbbbb;
}

.advantages .item:not(:last-child) {
	border-right: 1px solid #bbbbbb;
}

.advantages .item img, 
.advantages .item p {
	margin: 0;
}

.advantages .item img {
	float: left;
	margin-right: 10px;
}

.advantages .item p {
	float: left;
	width: 50%;
}



/* |||||||||||| “ј–»‘џ |||||||||||||| */

.tariff {
	margin-bottom: 50px;
}

.tariff .first, 
.tariff .plus, 
.tariff .last,
.tariff p {
	padding: 0;
	margin: 0;
} 

.tariff h1{
	text-align: center;
	font-weight: 50;
	font-size: 30px;
	font-family: arial;
	text-transform: uppercase;
}

.tariff h2{
	margin: 30px 0 30px 0;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
}

.tariff .first span {
	font-size: 34px;
	font-weight: 750;
	letter-spacing: -2px;
	line-height: 150%;
	text-transform: uppercase;
}

.tariff .first {
	padding-top: 30px;
	text-align: right;
}

.tariff .first div {
	display: inline-block;
	text-align: center;	
}



.tariff .plus {
	text-align: center;	
	padding-top: 52px;
}

.tariff .last {
	text-align: left;
}

.tariff .last div {
	display: inline-block;
	width: 215px;
	text-align: center;	
}

.tariff .prices {
	text-align: center;
}

.tariff .price {
	text-align: center;
	padding: 0;
	margin-right: 15px;
	flex: 11%;
	max-width: 11%;
}

.tariff .price:first-child {
	margin-left: 150px;	
}

.tariff .price hr {
	width: 100px;
	border-top: 1px solid #8c8787;
}

.tariff .price span {
	font-size: 30px;
	font-family: arial;
}

.tariff p:nth-child(2) {
	font-size: 16px;
	font-family: arial;
}

.tariff p:last-child {
	font-size: 18px;
	font-weight: bold;
	font-family: arial;
}






/* ||||||||||||  онтакты |||||||||||||| */

.contacts {
	height: 692px;
	background: url(images/fon_6.jpg) center no-repeat;
	padding-top: 30px;
}

.contacts input, .contacts textarea {
	margin: 0 10px 30px 10px;
}

.contacts input {
    padding-left: 15px;
    font-size: 18px;
    height: 50px;
    border: 1px solid #c3c3c3;	
	color: black;
}

.container form {
	margin: 0 auto;
}

.contacts button {
	margin: 0 auto;
	height: 50px;
    width: 190px;
    background: #1175c0;
    color: white;
    border: none;
    font-size: 20px;	
}

.contacts textarea {
	height: 50px;
	line-height: 45px;
	overflow: hidden;
}

::-webkit-input-placeholder { /* Edge */
  color: red;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::placeholder {
  color: red;
}

.contacts-bottom {
    font-size: 12px;
    background: #efefef;
    padding: 10px 0 10px 0;
	font-family: arial;
}

.contacts-bottom p {
    margin: 0;
}

.contacts-bottom .url-wrapper {
    text-align: right;
}

.contacts-bottom .addr {
    text-align: center;
}

.contacts-bottom .url {	
	text-decoration: none;
}

.mail-success,
.mail-failed {
	display: none;
	margin-top: 10px;
	text-align: center;
}

.show-mail-result{
    display: block;
    background: white;
    width: 280px;
    border: 1px solid #c3c3c3;
    padding: 11px;
    margin: 0 auto;
    margin-top: 30px;
}

@media (max-width: 1200px){
	.tariff .price {
		flex: 15%;
		max-width: 15%;
		margin-bottom: 30px;
	}
	
	.tariff .price:first-child{
		margin-left: 0;		
	}
	
	.contacts input, .contacts textarea {
		margin: 0;
		margin-bottom: 10px;
	}
	
	.contacts input:first-child {
		margin-left: 40px; 
	}
}

@media (max-width: 991px){
	.fon_1 {
		background: rgb(197, 206, 211);
	}
	
	.fon_1 .logo {
		margin-bottom: 10px;
	}

	h1 {
		text-align: center;
	}

	.fon_1 .title {
		margin-top: 50px;
	}
	
	.fon_1 .claim-btn {
		display: block;
		margin: 0 auto;
	}	
	
	.advantages h1 {
		border: 0;
	}
	
	.advantages .data,
	.advantages .standard {
		border-right: 0 !important;
	}	
	
	.infrastructure .description {
		border: 0;
		text-align: center;
		padding: 30px;
	}
	
	.tariff .price {
		flex: 20%;
		max-width: 20%;
		margin-right: 35px;
	}	
	
	.contacts input, .contacts textarea {
		margin: 0;
		margin-bottom: 10px;
	}
	
	.contacts input:first-child {
		margin-left: 0; 
	}	
}

@media (max-width: 768px) {
	
	.device-wrapper {
		text-align: center;
	}	
	
	.options .item {
		max-width: 100%;
		flex: none;
		border: 0;
		border-bottom: 1px solid #bbbbbb;
		padding: 30px 0 30px 0;
	}
	
	.options .row:first-child,
	.options .row:last-child {
		border: 0;
	}
	
	.free img {
		display: block;
		margin: 0 auto;
	}
	
	.tariff .price {
		flex: 26%;
		max-width: 26%;
		margin-right: 34px;
	}	
	
	.contacts {
		background: #d8f4ff url(images/fon_6.jpg) center 130px no-repeat;
	}
}

@media (max-width: 576px) {
	
	.icon-wrapper {
		width: 30% !important;
	}	
	
	.cap_text {
		width: 70% !important;
	}
	
	.cap_button {
		display: block;
		width: 100%;
	}
	
	.call {
		display: block;
		margin: 0 auto;
	}
	
	.icons {
		background: rgb(216, 244, 255);
	}	
	
	.infrastructure img {
		width: 80%;
	}
	
	.advantages .item {
		max-width: 50%;
		flex: none;
	}
	
	.tariff .first,
	.tariff .last {
		text-align: center;
	} 
	
	.tariff .plus {
		padding: 20px;
	}
	
	.tariff .price {
		flex: 27%;
		max-width: 27%;
		margin: 0 10px 0 10px;
		margin-bottom: 30px;
	}	
	
	.contacts-bottom .url-wrapper, 
	.contacts-bottom .title {
		text-align: center;
	}
	
	.contacts-bottom .addr {
		margin: 5px 0 5px 0; 
	}
}

@media (max-width: 500px) {
	.fon_1 {
		height: 820px;
	}
}

@media (max-width: 440px) {
	.fon_1 {
		height: 850px;
	}	
	
	.advantages .item {
		padding-left: 0;
	}
	
	.advantages .item img {
		display: block;
		margin: 0 auto;
		float: none;
	}
	
	.advantages .item p {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 380px) {
	.fon_1 {
		height: 900px;
	}
}


@media (max-width: 350px) {
	h1 {
		text-align: center;
	}

	.fon_1 {
		height: 740px;
		padding: 10px !important;
	}	
	
	.claim-btn {
		width: 100% !important;
	}
	
	.auditor img, .free img {
		width: 100%;
	}
	
	.icon-wrapper {
		flex: 25%;
		max-width: 25%;
	}
	
	.advantages .item {
		max-width: 100%;
		flex: none;
	}	
	
	.advantages .item:nth-child(odd) {
		border-right: 0 !important;
	}
	
	.tariff .price {
		flex: 100%;
		max-width: 100%;
	}
}

/*—тили полей при клике по ним*/
#applicationName:focus, #applicationEmail:focus, #applicationTelephone:focus {
    border: 1px solid #30ad64;
}

/*—тили текста, вывод€щегос€ в placeholder*/
::-webkit-input-placeholder {
    color: lightgrey;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::-moz-placeholder  {
    color: lightgrey;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 19+ */

:-moz-placeholder {
    color: lightgrey;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 18- */

:-ms-input-placeholder {
    color: lightgrey;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::placeholder {
    color: lightgrey;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.validation-failed::-webkit-input-placeholder {
    color: red;
}

#toTop {
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 30px; /* отступ кнопки от нижнего кра€ страницы*/
	right: 10px;
	cursor: pointer;
	display: none;
	color: #333;
	font-family: verdana;
	font-size: 11px;
}




/*Стили для слайдера --Начало--*/
.slider {
    position: relative;
    overflow: hidden;
    padding: 0;
	margin-bottom: 100px;
}

.mobile-slider img {
	display: block;
	margin: 0 auto;
	margin-top: 45px;
}

.slider-title {
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: center;
  font-size: 28px;
  background: white;
  padding: 0 10px 0 10px;
}

@media (min-width: 1000px){
  .slider-title {
	  left: 40%
  } 
}

@media (min-width: 768px) and (max-width: 1000px){
  .slider-title {
	  left: 38%
  } 
}

@media (max-width: 767px) and (min-width: 546px) {
  .slider-title {
	  left: 34%
  } 
}

@media (max-width: 545px) and (min-width: 500px) {
  .slider-title {
	  left: 33%
  } 
}

@media (max-width: 500px) and (min-width: 475px) {
  .slider-title {
	  left: 32%
  } 
}

@media (max-width: 475px) and (min-width: 410px) {
  .slider-title {
	  left: 31%
  } 
}

@media (max-width: 410px) and (min-width: 350px) {
  .slider-title {
	  left: 30%
  } 
}

@media (max-width: 350px) and (min-width: 320px) {
  .slider-title {
	  left: 25%
  } 
}

@media (max-width: 320px) and (min-width: 300px) {
  .slider-title {
	  left: 23%
  } 
}

@media (max-width: 300px) and (min-width: 280px) {
  .slider-title {
	  left: 20%
  } 
}

@media (max-width: 280px) {
  .slider-title {
	  left: 15%
  } 
}

.slider-wrapper{
display: flex;
transition: transform 0.6s ease;
}

.slider-item {
flex: 0 0 100%;
max-width: 100%;
}

.slider-control {
position: absolute;
top: 50%;
display: flex;
align-items: center;
justify-content: center;
width: 40px;
color: #fff;
text-align: center;
opacity: 0.5;
height: 40px;
transform: translateY(-50%);
background: rgba(0, 0, 0, .5);
}

.slider-control:hover {
color: #fff;
text-decoration: none;
outline: 0;
opacity: .9;
}

.slider-control-left {
left: 0;
}

.slider-control-right {
right: 0;
}

.slider-control::before {
content: '';
display: inline-block;
width: 50px;
height: 35px;
background: transparent no-repeat center center;
background-size: 100% 100%;
}

.slider-control-left::before {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider-control-right::before {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider-item > img {
height: auto;
max-width: 100%;
}
/*Стили для слайдера --Конец--*/

</style>

